<a href="https://colab.research.google.com/github/faria012/Colab/blob/main/List_Tuple_Set_Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Types of objects in Python
    1.Immutable objects
    2.Mutable objects

Immutable objects
   1.int
   2.float
   3.string
   4.bool
   5.tuple

Mutable objects
  1.list
  2.set
  3.dictionary

List

In [ ]:
my_list = [1,2,3,4,5]
print(my_list)
type(my_list)

[1, 2, 3, 4, 5]

list

In [ ]:
list = [2,3,3.4,"English",True]
print(list)

[2, 3, 3.4, 'English', True]

Lists are Mutable>>Changeable

In [ ]:
list = [2,3,3.4,"English",True]
list.append(6)
print(list)

[2, 3, 3.4, 'English', True, 6]

In [ ]:
list = [2,3,3.4,"English",True]
list.remove(2)
print(list)

[3, 3.4, 'English', True]

In [ ]:
print(list[0])
print(list[3])

3
True

In [ ]:
list = [1,2,3,4,5,2,3]
print(list)

[1, 2, 3, 4, 5, 2, 3]

In [ ]:
print(len(list))

7

In [ ]:
list = []
print(list)

[]

In [ ]:
list.append(6)
print(list)

[6]

In [ ]:
list.append(8)
print(list)

[6, 8]

In [ ]:
list = [1,2,3,4,5,6,7]
print(list)

del list[3]
print(list)

[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 5, 6, 7]

In [ ]:
list_1 = [1,2,3]
list_2 = [4,5,6]

list_3 = list_1 + list_2
print(list_3)

[1, 2, 3, 4, 5, 6]

Tuple

In [ ]:
tuple = (1,2,3,4)
print(tuple)
type(tuple)

(1, 2, 3, 4)

tuple

In [ ]:
tuple = (1,2,3.3,"MachineLearning",False)
print(tuple)

(1, 2, 3.3, 'MachineLearning', False)

In [ ]:
my_list = [1,2,3,4]
print(my_list)

[1, 2, 3, 4]

In [ ]:
my_tuple=(1,2,3,4,5)
print(my_tuple[0])
print(my_tuple[3])

1
4

Tuples are immutable>>Unchangeable

In [ ]:
my_tuple.append(6)

AttributeError: ignored

In [ ]:
print(len(my_tuple))

5

Set

In [ ]:
my_set = {1,2,3,4,5}
print(my_set)
type(my_set)

{1, 2, 3, 4, 5}

set

In [ ]:
print(my_set[0])

TypeError: ignored

In [ ]:
list_5 =[4,5,6,7,8]

x = set(list_5)
print(x)

{4, 5, 6, 7, 8}

In [ ]:
set = {1,2,3,4,5,2,3,4}
print(set)

{1, 2, 3, 4, 5}

Dictionary

Key Value Pair

In [ ]:
my_dictionary = {'name':'Faria','age':25,'country':'Bangladesh'}
print(my_dictionary)
type(my_dictionary)

{'name': 'Faria', 'age': 25, 'country': 'Bangladesh'}

dict

In [ ]:
print(my_dictionary['name'])
print(my_dictionary['age'])
print(my_dictionary['country'])

Faria
25
Bangladesh

In [ ]:
my_dictionary = {'name':'Faria','age':25,'country':'Bangladesh','name':'Faria','age':25,'country':'Bangladesh'}
print(my_dictionary)

{'name': 'Faria', 'age': 25, 'country': 'Bangladesh'}