<a href="https://colab.research.google.com/github/faria012/Colab/blob/main/Loops_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

For Loop

In [ ]:
laptop1 = int(input("Enter the price of Laptop :  "))
laptop2 = int(input("Enter the price of Laptop :  "))
laptop3 = int(input("Enter the price of Laptop :  "))
laptop4 = int(input("Enter the price of Laptop :  "))
laptop5 = int(input("Enter the price of Laptop :  "))

Enter the price of Laptop :  20000
Enter the price of Laptop :  30000
Enter the price of Laptop :  40000
Enter the price of Laptop :  50000
Enter the price of Laptop :  60000

In [ ]:
for i in range(5):
  laptop_price = int(input('Enter the price of laptop : '))

Enter the price of laptop : 20
Enter the price of laptop : 30
Enter the price of laptop : 40
Enter the price of laptop : 50
Enter the price of laptop : 60

In [ ]:
numbers = [10,30,100,40,50]
for i in numbers:
  print(i)

10
30
100
40
50

In [ ]:
fruits = ['Apple','Orange','Banana','Mango']
for i in fruits:
  print(i)

Apple
Orange
Banana
Mango

While Loop

In [ ]:
i = 0
while i<10:
  print(i)
  i += 1   # i = i+1

0
1
2
3
4
5
6
7
8
9