<a href="https://colab.research.google.com/github/faria012/Colab/blob/main/Operators_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Operators in Python
  1.Arithmetic
  2.Assignment
  3.Comparison
  4.Logical
  5.Identity
  6.Membership

#Arithmetic

In [ ]:
num1 = 20
num2 = 30

#add
sum = num1 + num2
print('sum :',sum)

#sub
diff = num1 - num2
print('difference :',diff)

#mult
pro = num1 * num2
print('product :',pro)

#div
quo = num1 / num2
print('quotient :',quo)

#exponent
exp = num1**num2  #20^30
print('exponent :',exp)

#mod
mod = num1%num2
print('modulus :',mod)

sum : 50
difference : -10
product : 600
quotient : 0.6666666666666666
exponent : 1073741824000000000000000000000000000000
modulus : 20

Assignment

In [ ]:
a = 5
print(a)

5

In [ ]:
a = 5
a += 5   # a = a+5
print(a)

10

In [ ]:
b = 5
b -= 2  # b = b - 2
print(b)

3

In [ ]:
c = 5
c *= 3   # c = c * 3
print(c)

15

In [ ]:
d = 5
d **= 2  # d = d ^ 2
print(d)

25

In [ ]:
e = 5
e /= 2  # e = e / 2
print(e)

2.5

In [ ]:
f = 5
f %= 2   # f = f % 2
print(f)

1

Comparison

In [ ]:
a = 5
b = 10

print(a == b)    #equal to
print(a != b)    #not equal to
print(a < b)     #less than
print(a > b)     # greater than
print(a <= b)
print(a >= b)

False
True
True
False
True
False

Logical

In [ ]:
a = 10

print( a>20 and a>5)
print( a>20 or a>5)
print(not(a>8 and a>5))

False
True
False

Identity

In [ ]:
x = 5
y = 5

print(x is y)

True

In [ ]:
x =5
y = 5
print(x is not y)

False

In [ ]:
x = 5
y = 10
print(x is y)
print(x is not y)

False
True

Membership

In [ ]:
a = 4
b = 10

c = [1,2,3,4,5,6]

print(a in c)
print(b in c)

True
False

In [ ]:
a = 4
b = 10

c = [1,2,3,4,5,6]

print(a not in c)
print(b not in c)

False
True